/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";


.body {
  background-color: lightgrey;
  height: 100%;
}
img{
  width: 350px;
  height: 250px;
}