<div class="container-fluid d-flex justify-content-center align-items-center flex-column">
  <h3 class="m-2">Details fruit {{ fruit.name | titlecase }}</h3>
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="card" style="width: 20rem">
      <img
        class="card-img-top"
        [src]="fruit.photo ? fruit.photo : 'https://www.lavanguardia.com/files/og_thumbnail/uploads/2019/06/04/5e99794702a16.jpeg'"
        alt={{fruit.name}}
      />
      <div class="card-body bg-secondary text-white">
        <h3 class="card-title">{{ fruit.name | titlecase }}</h3>
        <h6 class="card-text">{{ fruit.color || "No color specified" | titlecase }}</h6>
        <h6 class="card-text">{{ fruit.size | titlecase }}</h6>
        <div class="buttons-container">
          <a [routerLink]="['/fruits/']" class="btn btn-primary m-2">Back</a>
          <a [routerLink]="['/fruits/update/', fruitId]" class="btn btn-success m-2">Update</a>
          <a
            *ngIf="!confirmDelete"
            (click)="confirmDelete = true"
            class="btn btn-danger m-2"
            >Delete</a
          >
          <span *ngIf="confirmDelete">
            <h6 class="m-3 text-center">Delete fruit {{ fruit.name }}??</h6>
            <div class="buttons-container">
              <button
                class="btn btn-danger m-2"
                (click)="deleteFruit(fruit.id)"
              >
                Yes
              </button>
              <button
                class="btn btn-warning m-2"
                (click)="confirmDelete = false"
              >
                No
              </button>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
