<div class="container-fluid d-flex justify-content-center align-items-center flex-column">
  <h6 class="text-error m-3">{{message}}</h6>
  <button class="btn btn-primary" (click)="backClicked()" type="button">Back</button>
</div>