<div class="container-fluid bg-white p-0">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="m-2">Fruits Api</h1>
    <div>
      <a [routerLink]="['/fruits/new/']"
        ><span class="fas fa-plus-circle m-3 fa-2x"></span
      ></a>
      <a [routerLink]="['/fruits/']"
        ><span class="fas fa-home m-3 fa-2x"></span
      ></a>
    </div>
  </div>
</div>
