<div class="container-fluid d-flex justify-content-center align-items-center flex-column">
  <div>
    <h3 class="m-2">New Fruit</h3>
  </div>
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="newFruitForm">
      <div class="form-group m-2">
        <label for="name">Fruit *</label>
        <input type="text" class="form-control" id="name" placeholder="Fruit name" formControlName="name">
      </div>
      <div *ngIf="newFruitForm.controls['name'].invalid && (newFruitForm.controls['name'].dirty || newFruitForm.controls['name'].touched)">
        <p class="text-center text-danger">Please enter correct fruit name. Máx 30 characters</p>
      </div>
      <div class="form-group m-2">
        <label for="size">Size *</label>
        <ng-select name="size" id="size" formControlName="size" placeholder="Select size">
          <ng-option [value]="'small'">Small</ng-option>
          <ng-option [value]="'medium'">Medium</ng-option>
          <ng-option [value]="'big'">Big</ng-option>
        </ng-select>
      </div>
      <div class="form-group m-2">
        <label  for="color">Color</label>
        <input type="text" class="form-control" id="color" placeholder="Color" formControlName="color">
      </div>
      <div *ngIf="newFruitForm.controls['color'].invalid">
        <p class="text-center text-danger">Please enter correct fruit color. Máx 30 characters</p>
      </div>
      <div class="form-group m-2">
        <label  for="photo">Photo Url</label>
        <input type="text" class="form-control" id="photo" placeholder="Photo Url" formControlName="photo">
      </div>
      <div *ngIf="newFruitForm.controls['photo'].invalid">
        <p class="text-center text-danger">Please enter correct fruit photo url. Máx 100 characters</p>
      </div>
      <button [routerLink]="['/fruits/']" class="btn btn-primary m-2" type="button">Back</button>
      <button class="btn btn-primary m-2" type="submit" [disabled]="!newFruitForm.valid || submitted">Save</button>
      <p class="m-2">* Required</p>
    </form>
  </div>
</div>