<div class="container-fluid">
  <div *ngIf="fruitsList.length > 0" class="d-flex justify-content-center p-3">
    <input
      name="filterName"
      [(ngModel)]="filterName"
      placeholder="Filter by name..."
      class="filter-input"
    />
  </div>
  <div
    class="
      container-fluid
      d-flex
      justify-content-center
      align-items-center
      flex-wrap
    "
  >
    <div class="d-flex flex-column" *ngIf="fruitsList.length == 0">
      <h5 class="text-danger mt-3">No fruits registered</h5>
      <a [routerLink]="['/fruits/new/']" class="btn btn-primary">Add Fruit</a>
    </div>
    <ul
      class="m-2 p-0"
      *ngFor="let fruit of fruitsList | filterName: filterName:'name'"
    >
      <div class="card" style="width: 18rem">
        <a [routerLink]="['/fruits/details/', fruit.id]"
          ><img
            class="card-img-top"
            [src]="
              fruit.photo
                ? fruit.photo
                : 'https://www.lavanguardia.com/files/og_thumbnail/uploads/2019/06/04/5e99794702a16.jpeg'
            "
            alt="{{ fruit.name }}"
        /></a>
        <div class="card-body bg-secondary text-white">
          <h3 class="card-title">{{ fruit.name | titlecase }}</h3>
          <h6 class="card-text">
            {{ fruit.color || "No color specified" | titlecase }}
          </h6>
          <h6 class="card-text">{{ fruit.size | titlecase }}</h6>
          <a
            [routerLink]="['/fruits/details/', fruit.id]"
            class="btn btn-primary"
            >Details</a
          >
        </div>
      </div>
    </ul>
  </div>
</div>
